/****** General ******/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.card-title {
    font-size: 16px;
    margin: 5px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Logo et herbergement activites lien ***********/
header {
    margin-bottom: 50px;
}

.logolien {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 61px;
    height: 19px;
    padding-top: 10px;
    margin: 5px;
}

.enhaut {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.enhaut a {
    border-top: 3px solid #FFFFFF;
    padding-top: 15px;
}

.enhaut a:hover {
    border-top: 3px solid #0065FC;
    /* La barre bleue sera toujours présente */
    color: #0065FC;
    display: inline-block;
    /* Pour que la barre bleue s'étende sur toute la largeur du lien */
}



.plein {
    margin-top: -15px;
}


/****** Boutons Marseille, France ***********/
.bouton-container {
    margin-top: 30px;
}

.button-marker {
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
}

.button-search {
    display: none;
}

.search-input {
    padding: 15px;
    border: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #000000;
    margin-left: -5px;
}

.button-rechercher {
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: -5px;
}


/** cercle i **/
.circle {
    display: flex;
    align-items: center;
    margin-top: 20px;
    /**espace entre les blocs**/
}

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    font-weight: bold;
    font-size: 10px;
    color: #0065FC;
    background-color: #FFFFFF;
}

.circle-text {
    margin-left: 5px;
}



/********Filtres-4 bouton*********/
.titre-filtres {
    margin-right: 20px;
}

.filtres {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    /*align-items: stretch;*/
}

/*.clic i {
    margin-right: 10px;
}/*

/*.filtres2 {
    width: 100%;
    display: flex;
   justify-content: space-around;
    gap: 20px;
}*/

.division {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.clic {
    /*width: 130px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border: solid 3px;
    border-radius: 25px;
    border-color: #F2F2F2;
    font-weight: bold;
    font-size: 17px;
    gap: 10px;
}

.clic:hover {
    background-color: #DEEBFF;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hebergements-and-populaires section {

    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergement à Marseille ***********/

.hebergements {
    width: 65%;
    margin-top: 45px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements h2 {
    margin-bottom: 40px;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 5px;
    margin-top: 10px;
}

.hebergements-cards .card-rating {
    margin: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-top: 45px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    margin-bottom: 50px;
    padding: 4px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 5px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    margin: 5px;
}


/****** Activites à Marseille ***********/
.activite {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 70px;
}

.titre-activites {
    margin-left: 10px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.activite-card {
    height: 100%;
    padding: 0px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-titles {
    display: flex;
    text-align: left;
    margin: 20px 20px;
}

.afficher-plus {
    margin: 50px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 16px;
}


/****** Textes Footer ***********/
.enbas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    /* Footer */
    /* line-height: 10px;/* espace horizontale entre les lignes */
}

.enbas-column {
    display: flex;
    flex-direction: column;
    /* Place le contenu en colonnes */
    padding-bottom: 5px;
    /* Ajoute un espace en bas de chaque rubrique */
    margin-bottom: 5px;
    /* Ajoute un espacement supplémentaire entre les rubriques */
    margin-left: 25px;
    /* Ajoute de l'espace horizontal à droite de chaque rubrique */
    /* margin-right: 200px;*/
}

.enbas-lien {
    margin-bottom: 10px;
    /* Ajoute un espace entre les paragraphes */
    /*margin-right: 250px;*/
}


/* Le code ci-dessous correspond à la version responsive */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (min-width: 768px) and (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /** les 4 button **/

    .filtres {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;
    }



    .division {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }

    .clic {
        /*margin: 10px 20px 10px 0px;*/
        padding: 12px 16px;
    }


    /***hebergement***/
    .hebergements {
        width: 100%;
        margin-top: 45px;
    }

    .hebergements-cards .card {
        padding: 5px;
    }

    .card-title {
        font-size: 14px;
    }


    /**populaire**/

    .populaires {
        width: 100%;
        margin-top: 50px;
        background-color: #F2F2F2;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /** Activite à Marseille **/

    .activites-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    .activite-card {
        width: auto;
        height: 275px;
        padding: 0px;
        box-shadow: 5px 5px 5px 5px #F2F2F2;
    }

    .activites-cards img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 0px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .card-titles {
        margin: 5px;
        align-items: center;
        margin: 16px;
        font-size: 15px;
    }


    /**Logo-lien**/

    .logolien {
        display: flex;
        flex-direction: row;
    }

    .enhaut {
        display: flex;
        /**pour le responsive portable**/
        flex-direction: row;
        /* margin: 5px;
       padding-top: 5px; /* Ajoute un espacement vertical de 5 pixels au-dessus du texte des liens   */
    }


    /**footer**/
    .enbas-lien {
        width: 100%;
        margin-bottom: 10px;
        /* Ajoute un espace entre les paragraphes */
        margin-right: 125px;
        font-size: 14px;
    }

    .enbas-column {
        margin: 5%;
    }
}


/* Small devices (phones, less than 768px) */
@media (min-width:320px) and (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }

    .enhaut a:hover {
        border-top: none;
        color: #0065FC;
    }

    /**Logo et deux liens en haute**/
    .logolien {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .logo {
        margin: 10px 0px 0px 0px;
        /*juste espace pour le top et 0 pour les autres*/
    }

    .enhaut {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
    }

    .enhaut a {
        border-bottom: 3px solid #FFFFFF;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .enhaut a:hover {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        padding-bottom: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
    }


    /**Hébergements**/

    .hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        margin-top: 3px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -15px;
        /*flex-wrap: wrap;
        gap: 25px;
        justify-content: space-between;
        align-items: center;*/
    }

    .hebergements-cards img {
        width: 100%;
        height: 100px;
    }

    .hebergements-cards a {
        width: 100%;
    }


    /**Title populaire**/

    .populaires section {
        background-color: #F2F2F2;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0px;
        margin-top: 23px;
    }

    .populaires-cards {
        /* display: flex;*/
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: -15px;
    }

    .section-title {
        font-size: 18px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /** section deux phrases**/
    .trouvez-vacances {
        font-size: 22px;
        margin: 20px;
        margin-top: -15px;
    }

    .plein {
        font-size: 15px;
        margin: 20px;
        margin-top: -15px;
    }


    /**button Marseille-France**/
    .bouton-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        /* margin-left: 25px;*/
    }


    /**button recherche**/
    .button-rechercher {
        display: none;
    }

    .button-search {
        display: inline;
        box-shadow: 0px 10px 10px 0px #F2F2F2;
        padding: 17px;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid #0065FC;
        background-color: #0065FC;
        color: #FFFFFF;
        margin-left: -10px;
    }

    .fa-solid.fa-magnifying-glass {
        color: #FFFFFF
    }

    .button-rechercer {
        display: none;
    }

    .search-input {
        margin-left: 0px;
        width: 100%;
    }


    /**Filtres button**/

    .filtres {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 35px;
        font-size: 16px;
        margin: 0px 25px;
    }



    .division {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .clic {
        justify-content: flex-start;
        margin: 0px;
        padding: 12px 12px;
        font-size: 13px;
    }


    /**icon inoformation**/

    .circle-text {
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: -1px;
        margin-top: 10px;
    }

    .circle-icon {
        margin-left: 15px;
    }



    /**Activités à Marseille**/

    .activite-card {
        width: 90%;
        justify-content: center;
        margin-right: 20px;
        margin-left: 20px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        margin-bottom: -30px;
    }

    .activites-cards img {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 130px;
    }

    .card-titles {
        margin: 0px;
        padding: 20px;
    }

    .titre-activites {
        margin-top: -15px;
        margin-left: 25px;
    }

    .afficher-plus {
        margin-left: 10px;
        margin-top: 10px;
    }


    /**Footer**/
    .enbas {
        display: flex;
        flex-direction: column;
    }

    .enbas-lien {
        display: flex;
        flex-direction: column;
        /* Ajoute un espace entre les paragraphes*/
        /* margin-right: 50px;*/
        font-size: 14px;
        margin-right: 0px;
    }

    .enbas-column {
        display: flex;
        flex-direction: column;
        /* width: 50%;*/
        margin: 10px;
    }

}